<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="horizontal" data-boxed-layout="boxed" data-card="shadow">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='image/Npontu logo.png') }}">
  
    <!-- Core Css -->
    <style>
      .flash-messages {
          list-style-type: none; /* Remove bullets */
          padding: 0;
          margin: 10px auto; /* Center horizontally */
          text-align: center; /* Center text */
          max-width: 500px; /* Optional: Limit the width of the messages */
      }
      
      .flash-message {
          background-color: #ffe5e5; /* Light red background */
          color: red; /* Red text */
          border: 1px solid red; /* Red border */
          border-radius: 5px; /* Rounded corners */
          padding: 10px; /* Spacing inside the box */
          margin-bottom: 10px; /* Space between messages */
          font-size: 16px; /* Adjust font size */
          font-weight: bold; /* Make text bold */
          text-align: center; /* Center the text */
      }
      </style>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
      
  
    <title>Npontu Executive Dashboard</title>
</head>

<body data-sidebartype="mini-sidebar">
    <!-- Preloader -->
    <div class="preloader" style="display: none;">
        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="loader" class="lds-ripple img-fluid">
    </div>
    <div id="main-wrapper">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100">
            <div class="position-relative z-index-5">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 col-xxl-4">
                        <div class="min-vh-100 bg-body row justify-content-center align-items-center p-5">
                            <div class="col-12 auth-card">
                                <a href="../horizontal/index.html" class="text-nowrap logo-img d-block w-100">
                                    <img src="{{ url_for('static', filename='image/logo.png') }}" height="50" class="dark-logo" alt="Logo-Dark">
                                </a>
                                <h2 class="mb-2 mt-4 fs-7 fw-bolder">Sign In</h2>
                                <p class="mb-9">Your Admin Dashboard</p>
                                <div class="position-relative text-center my-4">
                                    <p class="mb-0 fs-4 px-3 d-inline-block bg-body text-dark z-index-5 position-relative">
                                        or sign in with
                                    </p>
                                    <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                                </div>
                                <!-- Updated Form for Login -->
                                <form method="POST" action="{{ url_for('login') }}">
                                    <!-- Username field -->
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Email / Username</label>
                                        <input type="text" class="form-control" id="username" name="username" required>
                                    </div>
                                    <!-- Password field -->
                                    <div class="mb-4">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" required>
                                    </div>
                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input success" type="checkbox" value="" id="flexCheckChecked" checked="">
                                            <label class="form-check-label text-dark" for="flexCheckChecked">
                                                Remember this Device
                                            </label>
                                        </div>
                                        <a class="text-success fw-medium" href="./authentication-forgot-password.html">Forgot Password ?</a>
                                    </div>
                                    <button type="submit" class="btn btn-success w-100 py-8 mb-4 rounded-2">Sign In</button>
                                    
                        
                                    
                                </form>
                                <!-- Flash Messages -->
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        <ul>
                                            {% for category, message in messages %}
                                                <li class="{{ category }}">{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xl-7 col-xxl-8 position-relative overflow-hidden bg-dark d-none d-lg-block">
                        <div class="circle-top"></div>
                        <div>
                            <img src="{{ url_for('static', filename='image/logo.png') }}" class="circle-bottom" alt="Logo-Dark">
                        </div>
                        <div class="d-lg-flex align-items-center z-index-5 position-relative h-n80">
                            <div class="row justify-content-center w-100">
                                <div class="col-lg-6">
                                    <h2 class="text-white fs-10 mb-3 lh-sm">
                                        Welcome to the Npontu
                                        <br>
                                        Executive Dashboard
                                    </h2>
                                    <span class="opacity-75 fs-4 text-white d-block mb-3">Npontu Executive Dashboard provides executive overview to company development and growth.</span>
                                    <a href="../landingpage/index.html" class="btn btn-success">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-transparent sidebartoggler"></div>
    <!-- Import Js Files -->
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/js/theme/app.horizontal.init.js"></script>
    <script src="../assets/js/theme/theme.js"></script>
    <script src="../assets/js/theme/app.min.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>
